@model IEnumerable<Distributor>
@{ 
    ViewData["Title"] = "List of Distributors";
}

<div class="row">
    <div class="col-md-8 offset-md-2 nav-color">
        <table class="table">
            <thead>
                <tr class="text-center simple_text">
                    <th>@Html.DisplayNameFor(model => model.DistributorLogoURL)</th>
                    <th>@Html.DisplayNameFor(model => model.DistributorName)</th>
                    <th>@Html.DisplayNameFor(model => model.DistributorAddress)</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>Actions</th>
                    }
                    </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="align-middle">
                        <img class="rounded-circle" src="@item.DistributorLogoURL" alt="@item.DistributorName" style="max-width: 150px" />
                    </td>
                    <td class="align-middle simple_text">
                        @Html.DisplayFor(modelItem => item.DistributorName)
                    </td>
                    <td class="align-middle simple_text">
                        @Html.DisplayFor(modelItem => item.DistributorAddress)
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td class="align-middle">
                            <a class="btn btn-primary editdis" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit </a> |
                            <a class="btn btn-info blueish2" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details </a> |
                            <a class="btn btn-danger text-black reddish" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>

                        </td>
                    }
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@await Html.PartialAsync("_CreateItem", "Distributor")